.about-intro {
    display: flex;
    gap: 64px;
    align-items: center;
    padding: 48px 0 96px;
}

.about-intro img {
    width: 40%;
    border-radius: 20px;
}

.about-intro-text {
max-width: 560px;
flex-grow: 1;
}

.label {
font-size: 14px;
text-transform: uppercase;
color: var(--color-primary);
font-weight: 600;
letter-spacing: 0.08em;
}

.about-intro-text h1 {
font-family: var(--font-heading);
font-weight: 400;
font-size: 52px;
color:var(--color-text);
}

.about-intro-text p {
    color: var(--color-text-secondary);
    font-size: 18px;
    line-height: 1.6;
}