main{
    font-family: var(--font-heading), sans-serif ;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
h1{
    font-weight: lighter;
}

.banner {
    margin: 0 5rem 4rem 5rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.banner-text {
    flex: 1;
    span{
        color: var(--color-primary);
    }
}

.banner-image {
    flex: 1.4;
}

.banner-image img {
    width: 100%;
    height: 420px;
    border-radius: 1rem;
}

.banner h1 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 500;
    margin: 1rem 0;
    font-family: var(--font-heading),var(--font-body) , sans-serif ;
}

.banner-text > p {
    max-width: 500px;
    line-height: 1.5;
}

.banner-buttons {
    display: flex;
    gap: 0.8rem;
    margin: 1.5rem 0;
}

.stats {
    display: flex;
    gap: 4rem;
    border-top: 1px solid var(--color-border);
    padding-top: 1rem;
    margin-top: 1.5rem;
}

.stats div {
    display: flex;
    flex-direction: column;
}

.stats strong {
    font-size: 1.1rem;
}
.stats span {
    font-size: x-small;
}






.bg-surface {
    background-color: var(--color-surface);
    height: fit-content;
    padding: 1rem 0 4rem;
}

.rooms-banner {
    margin: 4rem 5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rooms-banner h1 {
    margin: 0;
}

.compare-link {
    text-decoration: underline;
    font-weight: 600;
}

.compare-link .material-icons {
    font-family: 'Material Icons';
    font-size: 15px !important;
    line-height: 0 !important;
    text-decoration: none;
    font-style: normal;
}

/* Cards */

.rooms-card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.rooms-card {
    width: 23rem;
}

.card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3{
        margin: 0.3rem 0;
    }
}

.rooms-card img {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
}

.room-features {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    span{
        padding: 0.5rem;
        border-radius: 1rem;

    }
    .bg-green{
        background-color: #EEF2EE;
        color: var(--color-primary-hover);
    }
    .bg-gold{
        background-color: #F3ECE0;
        color: #7A5418;
    }
}

.room-features span {
    font-size: 0.8rem;
}

.guest-benefits{
    margin: 5rem 5rem 4rem 5rem;

}

.benefits-grid{
    display: flex;
    flex-direction: row;
}
.benefit-card{
    display: flex;
    flex-direction: column;
    i{
        color: var(--color-primary);
        margin-bottom: 1rem;
    }
}
.testimonials{
    color: var(--color-tint);
    background-color: var(--color-primary);
}
.testimonials-grid{

}